@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   a:hover {
      @apply text-blue cursor-pointer underline;
   }

   input:not([type="chekbox"]) {
      @apply rounded-sm;
   }

   /* .role {
      grid-template-columns: auto 1fr;
      grid-template-areas: 
      'img role'
      'img desc'
      ;
   }
   .role > img {
      grid-area: img;
   }
   .role > h3 {
      grid-area: role;
   }
   .role > p {
      grid-area: desc;
   } */

   .roles {
      grid-template-columns: auto 1fr;
      grid-template-areas: 
      'img role check'
      'img desc check'
      ;
   }
   .roles > img {
      grid-area: img;
   }
   .roles > h3 {
      grid-area: role;
   }
   .roles > p {
      grid-area: desc;
   }
   .roles > svg {
      grid-area: check;
   }
}
